.Login {
  width: 100%;
  min-height: 90vh;
  background-color: rgb(214, 214, 214);
}
.LoginForm {
  width: 70%;
  min-height: 90vh;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LoginForm h2 {
  padding-bottom: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.LoginForm input {
  border: rgb(214, 214, 214) solid 1px;
  margin-bottom: 1.3rem;
  padding: 0.5rem 1rem;
  width: 20%;
}
.LoginForm input::placeholder {
  color: rgb(214, 214, 214);
}
.LoginForm button {
  background: none;
  /* font-family: 'Noto Sans JP', sans-serif; */
  color: rgb(87, 120, 148);
  width: 20%;
  border-radius: 2rem;
  border: 2px solid rgb(87, 120, 148);
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  /* border: none; */
  cursor: pointer;
}
.LoginForm button:hover {
  background-color: rgb(87, 120, 148);
  color: white;
}
